    <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}JEU Plateforme{% endblock %}</title>

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
  </head>

  <body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Love letters</h1>
    </div>



<div id="manche">

<div id="fond" style="background-image:url({{app.request.basepath}}/image/gris.jpg); float:center ; background-size: cover ; height: 800px; margin-right:100px; margin-left:100px" align="center">
<div id="joueur1" align="center">
			Player 1
            <img src="{{app.request.basepath}}/image/verso.jpg" height = 200  width = 150 alt="verso" onclick="jouerCarte1()"/>
		</div>
                    <div id="joueur1_joue" style=" width: cover; height: 110px; padding: 10px; border: 1px solid #aaaaaa;" >
		</div>

<div id="horsjeu">
    
<img src="{{app.request.basepath}}/image/verso.jpg" align="center" height = 100  width = 75 alt="verso" style="margin-top: 20px; margin-bottom: 20px; float:right;" onclick="tirerCarte()"/>
<input type="image" height = 50  width = 80 value="Endtour" style="margin-top: 20px; margin-bottom: 20px ; float:right;" src = "{{app.request.basepath}}/image/fleche.png"  onclick="tirerCarte2()" />
  <img src="{{ asset(first) }}" align="center" height = 100  width = 75 alt="Defausse1" style="margin-top: 20px; margin-bottom: 20px; float:right;" />
    <img src="{{ asset(second) }}" align="center" height = 100  width = 75 alt="Defausse2" style="margin-top: 20px; margin-bottom: 20px; float:right;" />
    <img src="{{ asset(third) }}" align="center" height = 100  width = 75 alt="Defausse3" style="margin-top: 20px; margin-bottom: 20px; float:right;" />
   
</div>

<div id="joueur2_joue" style=" width: cover; height: 110px; padding: 10px; border: 1px solid #aaaaaa;"  >
</div>


                <div id = "joueur2" align="center"> 
			Player 2
<img src="{{app.request.basepath}}/image/baron.jpg" height = 200  width = 150 alt="verso" onclick="jouerCarte()"/>
		</div>

</div>
</div>







    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Membre</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('jeu_platform_edit') }}">Accueil</a></li>
          <li><a href="{{ path('jeu_platform_edit') }}">Quitter la partie</a></li>
          <li><a href="{{ path('jeu_platform_add') }}">Déconnexion</a></li>
        </ul>

        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {# Normalement ajout du javascript jeu.js mais plante l'affichage quand on recupere les valeurs passés du controller dans le js#}
    <script>
        
        
                        
                        
				function tirerCarte(){
				document.getElementById('joueur1').innerHTML = '<div> Player 1 </div>' ;
				document.getElementById('joueur1').innerHTML += '<img src="{{app.request.basepath}}/image/verso.jpg" width="150" height="200" onclick="jouerCarte1()"/>';
				document.getElementById('joueur1').innerHTML += '<img src="{{app.request.basepath}}/image/verso.jpg" width="150" height="200"onclick="jouerCarte1()"/>';
			};
                        
                        function tirerCarte2(){
			
				document.getElementById('joueur2').innerHTML = '<div> Player 2 </div>' ;
                                document.getElementById('joueur2').innerHTML += '<img src="{{app.request.basepath}}/image/baron.jpg" width="150" height="200" onclick="jouerCarte()"/>';
                                document.getElementById('joueur2').innerHTML += '<img src="{{app.request.basepath}}/image/guard.jpg" width="150" height="200" onclick="jouerCarte()" />';
			};
                        
                        function jouerCarte(){
				 document.getElementById('joueur2').innerHTML = '<div> Player 2 </div>' ;
				document.getElementById('joueur2').innerHTML += '<img src="{{app.request.basepath}}/image/baron.jpg" width="150" height="200" onclick="jouerCarte()"/>';
				document.getElementById('joueur2_joue').innerHTML += '<img src="{{app.request.basepath}}/image/guard.jpg" width="150" height="200"/>';
			};
                        
                        function jouerCarte1(){
				 document.getElementById('joueur1').innerHTML = '<div> Player 1 </div>' ;
				document.getElementById('joueur1').innerHTML += '<img src="{{app.request.basepath}}/image/verso.jpg" width="150" height="200" onclick="jouerCarte1()"/>';
				document.getElementById('joueur1_joue').innerHTML += '<img src="{{app.request.basepath}}/image/guard.jpg" width="150" height="200" />';
				
			};
		
                
                
                
                
		</script>

  {% endblock %}

  </body>
</html>
