    <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}JEU Plateforme{% endblock %}</title>

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
  </head>

  <body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Love letters</h1>
    </div>
      <div id="joueur1" align="middle">
			Player 1
            <img src="{{app.request.basepath}}/image/verso.jpg" height = 200  width = 150 alt="verso"/>
		</div>

		<div align="center">
<img src="{{app.request.basepath}}/image/fond.jpg" height = 600  width = 1000 alt="plateau" align="center" />
<img src="{{app.request.basepath}}/image/verso.jpg" height = 200  width = 150 alt="verso" align="center" float:right onclick="tirerCarte()"/>
		</div>

		<div id = "joueur2" align="middle"> 
			Player 2
<img src="{{app.request.basepath}}/image/verso.jpg" height = 200  width = 150 alt="verso"/>
		</div>


    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Membre</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('jeu_platform_edit') }}">Accueil</a></li>
          <li><a href="{{ path('jeu_platform_edit') }}">Quitter la partie</a></li>
          <li><a href="{{ path('jeu_platform_add') }}">Déconnexion</a></li>
        </ul>

        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
                        
				function tirerCarte(){
				document.getElementById('joueur1').innerHTML = '<div> Player 1 </div>' ;
				document.getElementById('joueur1').innerHTML += '<img src="{{app.request.basepath}}/image/verso.jpg" width="150" height="200" />';
				document.getElementById('joueur1').innerHTML += '<img src="{{app.request.basepath}}/image/verso.jpg" width="150" height="200"/>';
				document.getElementById('joueur2').innerHTML = '<div> Player 2 </div>' ;
                                document.getElementById('joueur2').innerHTML += '<img src="{{app.request.basepath}}/image/verso.jpg" width="150" height="200"/>';
                                document.getElementById('joueur2').innerHTML += '<img src="{{app.request.basepath}}/image/verso.jpg" width="150" height="200" />';
			};
                        
                        function jouerCarte(){
				document.getElementById('joueur1').innerHTML = '<div align="center">  </div>' ;
				document.getElementById('joueur1').innerHTML += '<img src="../Applications/MAMP/htdocs/Symfony/web/image/verso.jpg" width="150" height="200" />';
				document.getElementById('joueur1').innerHTML += '<img src="../Applications/MAMP/htdocs/Symfony/web/image/verso.jpg" width="150" height="200"/>';
			};
		
		</script>
  {% endblock %}

  </body>
</html>
